.Crypto-overview{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.Crypto-overview-item-1{
    text-align: center;
}

.Crypto-overview-item-1 .Crypto-overview-heading{
    font-size: 40px;
    font-weight: 500;
    color: rgb(15, 50, 86);
    text-align: center;
}

.Crypto-overview-item-1 .Crypto-overview-para{
    color: rgb(144, 161, 184);
    text-align: center;
}

.Crypto-overview-features{
    display: flex;
    margin-top: 120px !important;
    margin: 0 auto;
}

.Crypto-overview-left{
    width: 50%;
}

.Crypto-overview-left-items{
    display: flex;
    flex-direction: column;
}

.co-left-items{
    display: flex;
}

.co-left-sub-items{
    display: flex;
}

.co-left-sub-items img{
    width: 72px;
    height: 72px;
    object-fit: contain; 
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px
}

.co-left-item-heading {
    text-align: left;
    color: black;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 47px;

}

.co-left-item-para{
    line-height: 1.6;
    color: rgb(131, 143, 160);
    width: 80%;
}
.co-left-item-para span{
    color: blue;
}

.Crypto-overview-Right{
    width: 55%;
}

.Crypto-overview-Right img{
    width: 100%;
    height: 600px;
}