
.table-container{
  display: flex;
  justify-content: center;
}

.asset-table {
  box-shadow: 2px 6px 24px 4px #1b171a8f;
  background-color: rebeccapurple;
  border-radius: 14px;
  width: 80%;

  /* border-radius: 4px;
  box-shadow: 1px 1px 2px lightgrey;
  border: 1px solid rgb(236, 239, 241); */
}

.th-name {
  /* width: 200px; */
}
tr {
  /* border: 2px solid rgb(236, 239, 241); */
  /* box-shadow:  2px 2px 2px rgba(17, 51, 83, 0.02); */
}
.td-white {
  color: white;
}
.table td,
.table th {
  border: none !important;
  line-height: 44px;
}

.th-name {
  color: #dc82cd;
  font-size: 18px;
}

.spark-chart{
  width: 120px;
  height: 20px;
}

.coin-icon {
  display: flex;
  align-items: center;
}
.table tr:hover {
  background: #cc7dd64d;
  transition: 0.7s ease;
}
.coin-icon img {
  width: 30px;
  height: 30px;
}

.coin-icon h5 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  padding-left: 16px;
  margin-top: 5px;
}

.coin-icon span {
  padding-left: 18px;
  line-height: 1.3;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.change-txt {
  line-height: 1.3;
  color: rgb(5, 177, 105);
  font-size: 18px;
  font-weight: 400;
}

.chart {
  padding-top: 0px;
  width: 94px;
  height: 33px;
  margin-top: 0px;
}

.buy-btn {
  width: auto;
  margin: 0px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 80ms ease-in-out 0s;
  padding: 0px 18px;
  font-size: 14px;
  border: 1px solid rgb(5, 177, 105);
  background-color: rgb(5, 177, 105);
}
