
ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}
.coinsummary{
  margin-top: 100px !important;
  box-shadow: 2px 6px 24px 4px #1b171a8f !important;
  background-color: #66339973 !important;
  border-radius: 14px !important;
  border: none !important;
}

.coinlist-item{
  background-color: rebeccapurple !important;
  box-shadow: 2px 6px 24px 4px #1b171a8f !important;
  border-radius: 12px !important;
}

.coinlist-item span{
  color: white ;
  font-weight: bold !important;
}


.appColor.purple {
  /* background: linear-gradient( to left, #6441a5, #2a0845 ) !important; */

  background-color: #4E2B81;
}
.appColor.red {
  background: linear-gradient( to left, #ac0e58, #bb1414 ) !important;

}
.appColor.blue{
  background-color: #2a2a8cfc;
}
.appColor.yellow{
  background-color: #8e966b;
}
.appColor.orange{
  background-color: #d39f2e;
}
.appColor.black{
  background-color: black;
}
.appColor.White{
  background-color: white;
}

.appColor.red .header-txt-1 h1 {
  color:white;
}
.appColor.red .co-left-item-heading{
  color: #c6b8d2;
}



