* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
}
.form-check-input {
  position: absolute;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .navbar-brand-home-dash {
    margin-top: -58px !important;
  }
  .user-menu {
    margin-left: 635px !important;
    top: -42px;
  }
  .hp-div-2-txt {
    width: 422px !important;
  }
}

@media (max-width: 768px),(max-width: 790px) {
  html {
    font-size: 10px !important;
  }
  body {
    overflow-x: hidden !important;
    width: 100vw !important;
  }
  select.themes {
    position: absolute !important;
    color: white;
    top: 41px !important;
    margin-left: -62px !important;
  }
  .home-nav {
    margin-top: 30px;
    /* align-items: center !important;
        text-align: center; */
  }
  .nav-items-2 {
    display: flex !important;
    flex-direction: column;
    margin-top: 0px !important;
    line-height: 25px;
    align-items: flex-start !important;
    justify-content: center;
  }
  .home-dropdown-menu {
    width: 166px !important;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 44px !important;
    border-color: rgba(0, 0, 0, 0.1);
    top: 29px;
    box-shadow: 1px 8px 7px 1px #1b171a8f;
  }
  .main-nav {
    position: relative;
    top: 62px;
    left: -45px;
  }
  .header-txt-1 h1 {
    font-size: 76px !important;
  }
  .header-txt-2 h1 {
    line-height: 1.3;
    color: rgb(255, 255, 255);
    font-size: 36px !important;
  }
  .header-para p {
    font-size: 14px !important;
    font-weight: bold;
  }
  .td-white {
    color: white;
    font-size: 14px;
    line-height: 35px;
  }
  .Crypto-overview-item-1 {
    margin-top: 5px !important;
  }
  .Crypto-overview-heading h1 {
    font-size: 36px !important;
  }
  .Crypto-overview-para p {
    font-size: 14px;
  }

  .co-left-item-heading {
    font-size: 14px !important;
    line-height: 23px;
    margin-top: 13px;
    padding-left: 12px;
  }
  .co-left-item-para {
    line-height: 1.6;
    font-size: 14px;
    color: rgb(255 255 255);
    padding-left: 10px;
    width: 90%;
  }
  .co-left-sub-items img {
    width: 60px !important;
    height: 60px !important;
  }
  .Crypto-overview-features {
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin-top: 62px !important;
  }
  .Crypto-overview-Right {
    width: 86%;
  }
  .Crypto-overview-Right img {
    width: 639px !important;
    margin-top: -56px;
  }
  .main-home .acc-overview-section {
    margin-top: 30px !important;
    height: 280px !important;
  }
  .acc-overview-content h1 {
    color: white;
    line-height: 46px !important;
    font-size: 22px !important;
  }
  .acc-overview-right img {
    width: 62% !important;
    margin-left: 110px !important;
  }
  .procedureSection {
    margin-top: 31px !important;
    height: 243px !important;
  }
  .ps-div-1 h2 {
    font-size: 36px !important;
  }

  .ps-div-1 p {
    font-size: 14px !important;
  }
  .ps-div-2 img {
    margin-left: 41px !important;
  }
  .cr-txt span {
    font-size: 18px !important;
  }
  .prt-overview-content h1 {
    line-height: 46px;
    font-size: 26px;
  }
  .main-home .trade-overview-section {
    margin-top: 150px;
    height: 280px !important;
  }
  .trade-overview-content h1 {
    line-height: 46px !important;
    font-size: 22px;
  }
  .trade-overview-right img {
    width: 62%;
    margin-left: 110px !important;
  }
  .rickAdvisory-details p {
    color: white;
    font-size: 14px;
  }
  .privacy-main p {
    font-size: 14px;
  }
  .footer-details p {
    color: white;
    font-size: 15px !important;
  }
  .signIn-form {
    width: 648px !important;
  }
  .signIn-form-2 {
    width: 394px !important;
  }
  .signup-form-group1 h2 {
    font-size: 36px !important;
  }
  .signUp-form {
    display: flex;
    box-shadow: 2px 6px 24px 4px #1b171a8f;
    background-color: rebeccapurple;
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 20px;
    width: 644px !important;
  }
  .signUp-form-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 386px !important;
  }
  .signUp-form .form-group-5 {
    margin-top: 20px;
  }
  .signIn-form .form-group-5 {
    margin-top: 60px;
  }
  .signin-Section-bg {
    height: 1088px !important;
  }
  .getStarted-Section-bg {
    height: 1300px;
  }
  .HomeDash-bg {
    background-color: #4e2b81;
    height: 2000px !important;
  }
  .HomeDash-bg .price-table {
    margin-left: -25px !important;
  }
  .assets-table {
    margin-left: 32px;
  }
  .assets-table th {
    font-size: 15px;
  }
  .assets-heading h2 {
    font-size: 36px;
  }
  .receive {
    padding-top: 20px;
    padding-right: 14px;
  }
  .transaction h2 {
    font-size: 22px;
  }
  .transaction p {
    font-size: 14px;
  }
  .HomeDash-bg {
    height: 1875px;
  }
  .homeDash-navbar {
    padding-top: 119px !important;
    padding-left: 34px !important;
  }

  .home-dash-nav {
    margin-top: 20px;
    flex-direction: column !important;
  }
  .navbar-brand-home-dash {
    padding: 7px 38px !important;
  }
  .hp-div-2-txt {
    width: 309px !important;
  }
  .hp-div-2-txt h2 {
    font-size: 20px !important;
  }
  .yp-table tr td {
    color: white !important;
    padding-left: 16px !important;
  }
  .hp-div-2-para p {
    font-size: 14px !important;
  }
  .total-balance-div {
    width: 82% !important;
    height: 43px !important;
    margin-left: 16px !important;
  }
  .total-balance-div h2 {
    color: #ef5e5e;
    font-size: 20px;
  }
  .user-menu {
    position: relative !important;
    left: -451px !important;
    top: -314px !important;
  }
  .news-contents {
    margin-top: 80px !important;
    width: 44% !important;
  }
  .news-categories span {
    color: #de7d7d;
  }

  .coin-icon img {
    margin-top: 9px !important;
  }
  .coin-icon h5 {
    margin-top: 8px !important;
    font-size: 14px !important;
  }
}

/* @media (max-width: 600px) {
  .Crypto-overview-Right img {
    margin-left: -169px !important;
  }
  .cr-txt span {
    font-size: 17px !important;
  }
  .ps-div-2 img {
    margin-left: 43px;
  }
  .table-container {
    margin-top: 100px !important;
  }
  .footer-details p {
    text-align: justify !important;
  }
  .signIn-form {
    width: 88% !important;
  }
  .form-group1 img {
    width: 102px !important;
    height: 115px !important;
  }
  .form-group1 h2 {
    font-size: 35px !important;
  }
  .signUp-form {
    width: 86% !important;
  }
  .signup-form-group1 {
    padding: 0 32px !important;
  }
  .signup-form-group1 h2 {
    font-size: 16px !important;
  }
  .price-table-container {
    padding-right: 0px !important;
    margin-right: auto !important;
    margin-left: 22px !important;
  }
  .s-no td {
    font-size: 7px !important;
    padding: 6px;
  }
  .table th {
    font-size: 7px !important;
  }
  .coin-icon img {
    width: 15px !important;
    height: 15px !important;
  }
  .buy-btn {
    width: 36px;
    font-size: 8px !important;
  }
  .yp-txt h2 {
    font-size: 39px !important;
  }
  .HomeDash-bg {
    height: 2021px !important;
  }
  .home-portfolio {
    margin-top: 150px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .total-balance-div {
    margin-left: 6px !important;
  }

  .hp-div-2 {
    margin-top: 80px !important;
    width: 70% !important;
    margin-left: 0px !important;
  }
  .hp-div-2-txt {
    width: 335px !important;
  }
  .price-table-container {
    margin-left: 0px !important;
  }
  .prt-main {
    flex-direction: column !important;
  }
  .prt-transaction {
    width: 70% !important;
    margin-top: 54px !important;
  }
}
 */
@media (max-width: 480px),(max-width: 502px) {
  /* select.themes {
    top: 30px !important;
}
.header-txt-1 h1 {
  font-size: 50px !important;
}
.header-txt-2 h1 {
  font-size: 25px !important;
}
.asset-table{
  margin-top: -70px !important;
}
.th-name {
  color: #dc82cd;
  font-size: 13px !important;
}
.asset-table td{
  font-size: 10px !important;
}
.coin-icon h5{
  font-size: 10px !important;
  margin-top: 16px !important;
}
.coin-icon img {
  margin-top: 12px !important;
  width: 18px !important;
  height: 18px !important;
}
.buy-btn {
  font-size: 10px !important;
  height: 33px !important;
  line-height: 10px !important;
}
.Crypto-overview-heading h1 {
  font-size: 22px !important;
}
.Crypto-overview-para p {
  font-size: 14px !important;
  width: 80% !important;
  margin: 0 auto !important;
} */

  .asset-table {
    margin-top: -70px !important;
  }
  .home-nav .nav-link {
    font-size: 14px !important;
  }
  select.themes {
    margin-left: -50px !important;
    font-size: 14px !important;
  }
  .signin-link {
    font-size: 14px !important;
  }
  .header-bg {
    height: 500px !important;
  }
  .header-bg .navbar-brand {
    font-size: 18px !important;
  }
  .header-txt-1 h1 {
    font-size: 50px !important;
  }
  .header-txt-2 h1 {
    font-size: 20px !important;
  }
  .table-container .th-name {
    font-size: 9px !important;
  }
  .coin-icon h5 {
    font-size: 9px !important;
    margin-top: 16px !important;
  }
  .coin-icon img {
    width: 18px !important;
    height: 18px !important;
    margin-top: 7px !important;
  }
  .buy-btn {
    height: 33px !important;
    line-height: 1px !important;
    padding: 0px 9px !important;
    font-size: 9px !important;
  }
  .td-white {
    font-size: 9px !important;
  }
  .red {
    font-size: 9px !important;
  }
  .green {
    font-size: 9px !important;
  }
  .spark-chart {
    width: 37px !important;
    height: 8px !important;
  }

  .header-para p {
    color: rgb(255, 255, 255);
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 23px !important;
    letter-spacing: 0.5px !important;
    width: 347px !important;
    font-family: "Roboto", sans-serif;
  }
  .form-inline input.header-search-bar {
    width: 189px !important;
  }
  .search-btn {
    padding: 11px !important;
  }
  .Crypto-overview-heading h1 {
    line-height: 1.3;
    font-size: 20px !important;
  }
  .Crypto-overview-para p {
    font-size: 12px !important;
    width: 86% !important;
    line-height: 23px !important;
    margin: 0 auto !important;
  }
  .co-left-items {
    display: inline !important;
  }
  .co-left-heading {
    margin-top: 40px;
    width: 88% !important;
  }
  .co-left-item-heading {
    font-size: 11px !important;
  }
  .co-left-item-para {
    width: 91% !important;
    font-size: 12px !important;
  }
  .Crypto-overview .Crypto-overview-features {
    margin-top: 71px !important;
  }
  .Crypto-overview-Right img {
    width: 481px !important;
    margin-top: -120px !important;
    margin-left: -137px !important;
  }
  .main-home .acc-overview-section {
    margin-top: -59px !important;
    height: 200px !important;
  }
  .acc-overview-section {
    height: 235px !important;
  }
  .acc-overview-right img {
    margin-left: 59px !important;
  }
  .acc-overview-content h1 {
    font-size: 12px !important;
    line-height: 30px !important;
  }
  .ps-div-1 h2 {
    font-size: 20px !important;
  }
  .ps-div-1 p {
    font-size: 11px !important;
  }
  .ps-div-2 img {
    width: 57px !important;
    height: 57px !important;
    margin-left: 25px !important;
  }
  .cr-txt span {
    font-size: 11px !important;
  }
  .procedureSection {
    margin-top: 0px !important;
    height: 165px !important;
  }
  .main-home .trade-overview-section {
    margin-top: 130px !important;
    height: 200px !important;
  }
  .trade-overview-content h1 {
    font-size: 12px;
  }
  .trade-overview-right img {
    width: 62%;
    margin-left: 65px !important;
  }
  .footer-details p {
    color: white;
    font-size: 11px;
  }
  .copyright-span span {
    font-size: 12px !important;
  }
  .signIn-form {
    width: 350px !important;
  }
  .form-group1 {
    height: 503px !important;
    padding: 0 20px !important;
  }
  .form-group1 img {
    margin-top: 60px !important;
    width: 79px !important;
    height: 150px !important;
  }
  .form-group1 h2 {
    line-height: 0px !important;
    font-size: 20px !important;
  }
  .signIn-form-2 {
    width: 267px !important;
  }
  .form-group-2 {
    margin-top: 35px !important;
    width: 238px !important;
    padding: 0 18px !important;
  }
  .form-group-3 {
    margin-top: 40px !important;
    width: 200px !important;
  }
  .form-group-5 {
    width: 238px !important;
  }
  .form-check {
    margin-top: 35px !important;
    width: 204px !important;
  }
  .signin-btn {
    margin-left: -50px !important;
  }
  label {
    color: #e047db !important;
    font-size: 7px !important;
  }
  .price-table-container {
    padding-right: 15px !important;
    margin-right: auto !important;
    margin-left: 0 !important;
  }
  .price-table .th-name {
    padding: 10px;
    font-size: 9px !important;
  }
  .s-no td {
    font-size: 7px !important;
    padding: 6px;
  }
  .signUp-form {
    width: 394px !important;
  }
  .signup-form-group1 {
    width: 154px !important;
  }
  .signup-form-group1 img {
    width: 50px !important;
    height: 50px !important;
  }
  .signup-form-group1 h2 {
    font-size: 18px !important;
  }
  .signUp-form-2 {
    width: 270px !important;
  }
  .signUp-form .form-group-5 {
    margin-top: 20px;
    padding-right: 36px;
  }

  .HomeDash-bg {
    background: linear-gradient(to left, #6441a5, #2a0845);
    height: 2000px !important;
    overflow-x: hidden;
  }
  .HomeDash-bg .navbar-brand-home-dash {
    font-size: 18px !important;
  }
  .HomeDash-bg .home-dash-nav .nav-link {
    font-size: 18px !important;
  }
  .HomeDash-bg .price-table {
    margin-left: -15px !important;
  }
  .home-portfolio {
    flex-direction: column !important;
  }
  .coin-text {
    font-size: 30px !important;
  }
  .hp-div-2 {
    margin-left: -1px !important;
  }

  .yp-txt h2 {
    font-size: 30px !important;
  }
  .yp-table {
    width: 100% !important;
  }
  .yp-table tr td {
    font-size: 12px !important;
  }
  .assets-heading h2 {
    font-size: 30px !important;
  }
  .assets-table {
    margin-left: 17px !important;
  }
  .assets-table th {
    font-size: 12px !important;
    padding: 0px !important;
  }
  .hp-div-2 {
    margin-top: 86px !important;
    width: 85% !important;
  }
  .pie-div {
    margin-top: 40px;
    box-shadow: 2px 6px 24px 4px #1b171a8f;
    background-color: white;
    border-radius: 14px;
    width: 355px;
  }
  .nav-items {
    width: 200px !important;
  }
  .send-input {
    width: 306px !important;
    height: 84px !important;
    padding-left: 100px;
    font-size: 26px !important;
  }
  .prt-main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .prt-balance {
    margin-bottom: 29px;
  }
  .prt-transaction {
    width: 70% !important;
  }
  .recieve-body-3 {
    display: flex;
    margin-left: 0px !important;
  }
  .modal-content {
    width: 84%;
    margin: 0 auto;
  }
  .modal-body p {
    margin-top: 17px;
    width: 260px !important;
    color: white;
  }
  .send-body-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .send-body-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .send-body-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .send-body-2 input {
    width: 250px;
    margin-left: 2px !important;
  }
  .send-body-3 {
    display: flex;
    margin-left: 0px !important;
  }
  .send-body-3 select {
    border-radius: 5px;
    margin-left: 0px;
    font-size: 16px;
  }
  .send-body-3 select {
    border-radius: 5px;
    margin-left: 0px;
    font-size: 16px;
    width: 254px;
    height: 36px;
  }

  .send-body-1,
  .send-body-2,
  .send-body-3,
  label {
    color: #f75e3c !important;
    font-size: 16px !important;
    margin-bottom: 11px;
  }
  .newsfeed-heading {
    margin-top: 50px !important;
    font-size: 30px !important;
  }
  .news-contents {
    margin-top: 80px !important;
    width: 70% !important;
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }
  .news-categories span {
    font-size: 14px !important;
  }
  .news-contents .news-title h2 {
    font-size: 18px !important;
  }
  .news-body p {
    font-size: 12px !important;
  }
}

@media (max-width: 425px) {
  .home-nav .nav-link {
    font-size: 14px !important;
  }
  select.themes {
    margin-left: -50px !important;
    font-size: 14px !important;
  }
  .signin-link {
    font-size: 14px !important;
  }
  .header-bg {
    height: 500px !important;
  }
  .header-bg .navbar-brand {
    font-size: 18px !important;
  }
  .header-txt-1 h1 {
    font-size: 50px !important;
  }
  .header-txt-2 h1 {
    font-size: 20px !important;
  }
  .table-container .th-name {
    font-size: 9px !important;
  }
  .coin-icon h5 {
    font-size: 9px !important;
    margin-top: 16px !important;
  }
  .coin-icon img {
    width: 18px !important;
    height: 18px !important;
    margin-top: 7px !important;
  }
  .buy-btn {
    height: 33px !important;
    line-height: 1px !important;
    padding: 0px 9px !important;
    font-size: 9px !important;
  }
  .td-white {
    font-size: 9px !important;
  }
  .red {
    font-size: 9px !important;
  }
  .green {
    font-size: 9px !important;
  }
  .spark-chart {
    width: 37px !important;
    height: 8px !important;
  }

  .header-para p {
    color: rgb(255, 255, 255);
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 23px !important;
    letter-spacing: 0.5px !important;
    width: 347px !important;
    font-family: "Roboto", sans-serif;
  }
  .form-inline input.header-search-bar {
    width: 189px !important;
  }
  .search-btn {
    padding: 11px !important;
  }
  .Crypto-overview-heading h1 {
    line-height: 1.3;
    font-size: 20px !important;
  }
  .Crypto-overview-para p {
    font-size: 12px !important;
    width: 86% !important;
    line-height: 23px !important;
    margin: 0 auto !important;
  }
  .co-left-items {
    display: inline !important;
  }
  .co-left-heading {
    margin-top: 40px;
    width: 88% !important;
  }
  .co-left-item-heading {
    font-size: 11px !important;
  }
  .co-left-item-para {
    width: 91% !important;
    font-size: 12px !important;
  }
  .Crypto-overview .Crypto-overview-features {
    margin-top: 71px !important;
  }
  .Crypto-overview-Right img {
    width: 481px !important;
    margin-top: -120px !important;
    margin-left: -137px !important;
  }
  .main-home .acc-overview-section {
    margin-top: 30px !important;
    height: 200px !important;
  }
  .acc-overview-section {
    height: 235px !important;
  }
  .acc-overview-right img {
    margin-left: 59px !important;
  }
  .acc-overview-content h1 {
    font-size: 12px !important;
    line-height: 30px !important;
  }
  .ps-div-1 h2 {
    font-size: 20px !important;
  }
  .ps-div-1 p {
    font-size: 11px !important;
  }
  .ps-div-2 img {
    width: 57px !important;
    height: 57px !important;
    margin-left: 25px !important;
  }
  .cr-txt span {
    font-size: 11px !important;
  }
  .procedureSection {
    margin-top: 0px !important;
    height: 165px !important;
  }
  .main-home .trade-overview-section {
    margin-top: 130px !important;
    height: 200px !important;
  }
  .trade-overview-content h1 {
    font-size: 12px;
  }
  .trade-overview-right img {
    width: 62%;
    margin-left: 65px !important;
  }
  .footer-details p {
    color: white;
    font-size: 11px;
  }
  .copyright-span span {
    font-size: 12px !important;
  }
  .signIn-form {
    width: 350px !important;
  }
  .form-group1 {
    height: 503px !important;
    padding: 0 20px !important;
  }
  .form-group1 img {
    margin-top: 60px !important;
    width: 79px !important;
    height: 150px !important;
  }
  .form-group1 h2 {
    line-height: 0px !important;
    font-size: 20px !important;
  }
  .signIn-form-2 {
    width: 267px !important;
  }
  .form-group-2 {
    margin-top: 35px !important;
    width: 238px !important;
    padding: 0 18px !important;
  }
  .form-group-3 {
    margin-top: 40px !important;
    width: 200px !important;
  }
  .form-group-5 {
    width: 238px !important;
  }
  .form-check {
    margin-top: 35px !important;
    width: 204px !important;
  }
  .signin-btn {
    margin-left: -50px !important;
  }
  label {
    color: #e047db !important;
    font-size: 7px !important;
  }
  .price-table-container {
    padding-right: 15px !important;
    margin-right: auto !important;
    margin-left: 0 !important;
  }
  .price-table .th-name {
    padding: 10px;
    font-size: 9px !important;
  }
  .s-no td {
    font-size: 7px !important;
    padding: 6px;
  }
  .signUp-form {
    width: 394px !important;
  }
  .signup-form-group1 {
    width: 154px !important;
  }
  .signup-form-group1 img {
    width: 50px !important;
    height: 50px !important;
  }
  .signup-form-group1 h2 {
    font-size: 18px !important;
  }
  .signUp-form-2 {
    width: 270px !important;
  }
  .signUp-form .form-group-5 {
    margin-top: 20px;
    padding-right: 36px;
  }

  .HomeDash-bg {
    background: linear-gradient(to left, #6441a5, #2a0845);
    height: 2000px !important;
    overflow-x: hidden;
  }
  .HomeDash-bg .navbar-brand-home-dash {
    font-size: 18px !important;
  }
  .HomeDash-bg .home-dash-nav .nav-link {
    font-size: 18px !important;
  }
  .HomeDash-bg .price-table {
    margin-left: -15px !important;
  }
  .home-portfolio {
    flex-direction: column !important;
  }
  .coin-text {
    font-size: 30px !important;
  }
  .hp-div-2 {
    margin-left: -1px !important;
  }

  .yp-txt h2 {
    font-size: 30px !important;
  }
  .yp-table {
    width: 100% !important;
  }
  .yp-table tr td {
    font-size: 12px !important;
  }
  .assets-heading h2 {
    font-size: 30px !important;
  }
  .assets-table {
    margin-left: 17px !important;
  }
  .assets-table th {
    font-size: 12px !important;
    padding: 0px !important;
  }
  .hp-div-2 {
    margin-top: 86px !important;
    width: 85% !important;
  }
  .pie-div {
    margin-top: 40px;
    box-shadow: 2px 6px 24px 4px #1b171a8f;
    background-color: white;
    border-radius: 14px;
    width: 355px;
  }
  .nav-items {
    width: 200px !important;
  }
  .send-input {
    width: 306px !important;
    height: 84px !important;
    padding-left: 100px;
    font-size: 26px !important;
  }
  .prt-main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .prt-balance {
    margin-bottom: 29px;
  }
  .prt-transaction {
    width: 70% !important;
  }
  .recieve-body-3 {
    display: flex;
    margin-left: 0px !important;
  }
  .modal-content {
    width: 84%;
    margin: 0 auto;
  }
  .modal-body p {
    margin-top: 17px;
    width: 260px !important;
    color: white;
  }
  .send-body-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .send-body-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .send-body-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .send-body-2 input {
    width: 250px;
    margin-left: 2px !important;
  }
  .send-body-3 {
    display: flex;
    margin-left: 0px !important;
  }
  .send-body-3 select {
    border-radius: 5px;
    margin-left: 0px;
    font-size: 16px;
  }
  .send-body-3 select {
    border-radius: 5px;
    margin-left: 0px;
    font-size: 16px;
    width: 254px;
    height: 36px;
  }

  .send-body-1,
  .send-body-2,
  .send-body-3,
  label {
    color: #f75e3c !important;
    font-size: 16px !important;
    margin-bottom: 11px;
  }
  .newsfeed-heading {
    margin-top: 50px !important;
    font-size: 30px !important;
  }
  .news-contents {
    margin-top: 80px !important;
    width: 70% !important;
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }
  .news-categories span {
    font-size: 14px !important;
  }
  .news-contents .news-title h2 {
    font-size: 18px !important;
  }
  .news-body p {
    font-size: 12px !important;
  }
}

@media (max-width: 405px), (max-width: 420px) {
  .header-txt-2 h1 {
    margin: 13px !important;
  }
  .header-para p {
    font-size: 12px !important;
    margin-bottom: 10px !important;
  }

  .asset-table {
    margin-top: -30px !important;
    width: 90% !important;
  }
  .Crypto-overview-item-1 {
    margin-top: -19px !important;
  }
  .Crypto-overview-heading h1 {
    font-size: 18px !important;
  }
  .main-home .acc-overview-section {
    margin-top: -79px !important;
    height: 200px !important;
  }
  .acc-overview-right img {
    height: 134px !important;
  }
  .trade-overview-right img {
    width: 62% !important;
    margin-left: 61px !important;
  }
  .trade-overview-content h1 {
    line-height: 38px !important;
  }
  .user-menu {
    top: -255px !important;
    left: -459px !important;
  }
  .navbar-brand-home-dash {
    padding: 7px 31px !important;
  }
  .HomeDash-bg .home-dash-nav .nav-link {
    font-size: 14px !important;
  }
  .hp-div-2-txt {
    width: 293px !important;
  }
  .total-balance-div h2 {
    font-size: 17px;
  }
  .HomeDash-bg .price-table {
    margin-left: -21px !important;
  }
  .buy-btn {
    line-height: 1px !important;
    padding: 0px 5px !important;
  }
  .form-check-input {
    position: absolute;
    margin-top: 4px;
  }
  .form-check-label {
    margin-left: 10px !important;
  }
  .signUp-form {
    width: 380px !important;
  }
  .signup-form-group1 h2 {
    font-size: 16px !important;
  }
  .coin-icon img {
    margin-top: 10px !important;
  }
  .coin-icon h5 {
    font-size: 8px !important;
    margin-top: 17px !important;
  }
  .coin-input {
    width: 212px !important;
    height: 44px !important;
  }
}
@media (max-width: 385px) {
  .price-table .th-name {
    padding: 6px !important;
    font-size: 9px !important;
  }

  .HomeDash-bg .price-table .th-name {
    padding: 8px;
    font-size: 9px !important;
  }
}
@media (max-width: 375px) {
  .home-nav .nav-link {
    font-size: 14px;
  }
  .header-txt-1 h1 {
    font-size: 40px !important;
  }
  .header-txt-2 h1 {
    font-size: 18px !important;
  }
  .header-para p {
    font-size: 9px !important;
    text-align: center !important;
    line-height: 20px !important;
  }
  .table-container {
    margin-top: -76px !important;
  }
  .th-name {
    font-size: 11px !important;
    padding: 5px !important;
  }
  .coin-icon h5 {
    font-size: 7px !important;
    margin-top: 16px !important;
  }
  .td-white {
    font-size: 9px;
  }
  .green {
    font-size: 9px;
  }
  .spark-chart {
    width: 37px !important;
    height: 8px !important;
  }
  .HomeDash-bg .price-table {
    margin-left: 0px !important;
  }
  .coin-icon img {
    width: 24px !important;
    height: 24px !important;
  }
  .buy-btn {
    padding: 0px 8px !important;
    font-size: 9px !important;
  }

  .form-inline input.header-search-bar {
    width: 172px !important;
    padding: 23px 11px !important;
  }
  .search-btn {
    padding: 11px !important;
  }
  .Crypto-overview-heading h1 {
    line-height: 1.3;
    font-size: 18px !important;
  }
  .Crypto-overview-para p {
    font-size: 7px;
  }
  .co-left-items {
    display: inline !important;
  }
  .co-left-heading {
    margin-top: 40px;
  }
  .co-left-item-heading {
    font-size: 9px !important;
    line-height: 23px !important;
  }
  .co-left-item-para {
    width: 91%;
  }
  .Crypto-overview {
    margin-top: 58px !important;
  }
  .Crypto-overview-Right img {
    width: 481px !important;
    margin-top: -120px !important;
    margin-left: -146px !important;
  }
  .main-home .acc-overview-section {
    margin-top: 0px !important;
    height: 170px !important;
  }
  .acc-overview-right img {
    margin-left: 59px !important;
  }
  .acc-overview-content h1 {
    font-size: 12px !important;
    line-height: 26px !important;
  }
  .ps-div-1 h2 {
    font-size: 20px !important;
  }
  .ps-div-1 p {
    font-size: 11px !important;
  }
  .ps-div-2 img {
    width: 37px !important;
    height: 37px !important;
    margin-left: 32px;
  }
  .cr-txt span {
    font-size: 8px !important;
  }
  .procedureSection {
    height: 166px;
  }
  .main-home .trade-overview-section {
    margin-top: 200px !important;
    height: 170px !important;
  }
  .trade-overview-content h1 {
    font-size: 12px;
    line-height: 26px !important;
  }
  .trade-overview-right img {
    width: 62%;
    margin-left: 65px !important;
  }
  .footer-details p {
    color: white;
    font-size: 11px;
  }
  .copyright-span span {
    font-size: 12px !important;
  }
  .signIn-form {
    width: 350px !important;
  }
  .form-group1 {
    height: 503px !important;

    padding: 0 20px !important;
  }
  .form-group1 img {
    margin-top: 60px !important;
    width: 79px !important;
    height: 150px !important;
  }
  .form-group1 h2 {
    line-height: 0px !important;
    font-size: 20px !important;
  }
  .signIn-form-2 {
    width: 267px !important;
  }
  .form-group-2 {
    margin-top: 35px !important;
    width: 238px !important;
    padding: 0 18px !important;
  }
  .form-group-3 {
    margin-top: 40px !important;
    width: 200px !important;
  }
  .form-group-5 {
    width: 238px !important;
  }
  .form-check {
    margin-top: 35px !important;
    width: 204px !important;
  }
  .signin-btn {
    margin-left: -50px !important;
  }
  label {
    color: #e047db !important;
    font-size: 7px !important;
  }
  .price-table-container {
    padding-right: 15px !important;
    margin-right: auto !important;
    margin-left: 0 !important;
  }
  .price-table .th-name {
    padding: 3px !important;
    font-size: 7px !important;
  }
  .price-bg .price-table {
    margin-left: 0px !important;
  }
  .s-no td {
    font-size: 7px !important;
    padding: 6px;
  }
  .table th {
    font-size: 7px !important;
  }
  .coin-icon img {
    width: 15px !important;
    height: 15px !important;
  }
  .buy-btn {
    width: 36px;
    font-size: 7px !important;
    padding: 0px 4px !important;
    height: 25px !important;
  }
  .signUp-form {
    width: 343px !important;
  }
  .signup-form-group1 {
    width: 124px !important;
  }
  .signup-form-group1 img {
    width: 50px !important;
    height: 50px !important;
  }
  .signup-form-group1 h2 {
    font-size: 18px !important;
  }
  .signUp-form-2 {
    width: 100px !important;
  }
  .signup-form-group-0,
  .signup-form-group-1,
  .signup-form-group-2,
  .signup-form-group-3,
  .signup-form-group-4 {
    margin-top: 40px;
    width: 300px;
    margin-left: 110px;
    padding: 0 71px !important;
  }
  .signUp-form .form-group-5 {
    margin-top: 20px;
    margin-left: 100px !important;
    padding-right: 0px !important;
  }
  .getStarted-Section-bg {
    overflow-x: hidden !important;
  }
  .HomeDash-bg {
    background: linear-gradient(to left, #6441a5, #2a0845);
    height: 2000px !important;
    overflow-x: hidden;
  }

  nav .user-menu {
    top: -266px !important;
    margin-left: 479px !important;
  }
  .homeDash-navbar {
    padding-left: 13px !important;
  }
  .HomeDash-bg .navbar-brand-home-dash {
    font-size: 16px !important;
    padding: 7px 31px !important;
  }
  .HomeDash-bg .home-dash-nav .nav-link {
    font-size: 16px !important;
  }

  .home-portfolio {
    flex-direction: column !important;
  }
  .hp-div-2 {
    margin-left: -1px !important;
  }
  .yp-table {
    width: 312px !important;
  }
  .yp-txt h2 {
    font-size: 25px !important;
  }
  .hp-div-2 {
    margin-top: 86px !important;
    width: 98% !important;
  }
  .total-balance-div h2 {
    color: #ef5e5e;
    font-size: 16px !important;
  }
  .pie-div {
    margin-top: 40px;
    box-shadow: 2px 6px 24px 4px #1b171a8f;
    background-color: white;
    border-radius: 14px;
    width: 355px;
  }
  .nav-items {
    width: 200px !important;
  }
  .price-table {
    margin-left: -20px;
  }
  .coin-text {
    font-size: 25px !important;
  }
  .coin-input {
    padding-left: 16px;
    width: 237px;
    height: 45px;
  }
  .prt-balance {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .prt-transaction {
    width: 100% !important;
  }
  .prt-main {
    display: flex;
    flex-direction: column !important;
  }
  .assets-table {
    margin-left: 8px;
  }
  .assets-heading h2 {
    color: white;
    font-size: 36px;
  }
  .send-input {
    width: 275px !important;
  }
  .send-body-1,
  .send-body-2,
  .send-body-3,
  label {
    font-size: 14px !important;
  }
  .news-contents {
    margin-top: 80px !important;
    width: 70% !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
  .news-categories span {
    font-size: 12px !important;
  }
  .news-title h2 {
    font-size: 16px !important;
  }
  .news-body p {
    font-size: 10px !important;
  }
}

@media (max-width: 360px) {
  select.themes {
    margin-left: -89px !important;
  }
  .header-para p {
    font-size: 8px !important;
  }
  .form-inline input.header-search-bar {
    width: 157px !important;
    font-size: 12px;
    padding: 22px 17px !important;
  }
  .search-btn {
    padding: 9px !important;
    font-size: 14px !important;
  }
  .asset-table {
    width: 100%;
  }
  .table .asset-table {
    width: 400px !important;
  }
  .table-container .th-name {
    font-size: 9px !important;
    padding: 15px !important;
  }
  .table-container .coin-icon img {
    margin-top: 8px !important;
  }
  .table-container .coin-icon h5 {
    font-size: 10px !important;
    margin-top: 13px !important;
  }
  .buy-btn {
    padding: 0px 7px !important;
  }
  .coin-icon img {
    margin-top: 14px !important;
  }
  .coin-icon h5 {
    font-size: 7px !important;
    margin-top: 22px !important;
  }
  .spark-chart {
    width: 23px !important;
    height: 8px !important;
  }
  .red {
    font-size: 9px !important;
  }
  .coin-icon {
    padding: 9px !important;
  }
  .Crypto-overview-features {
    margin-top: 47px !important;
  }
  .Crypto-overview-heading h1 {
    line-height: 1.3;
    font-size: 14px !important;
  }
  .Crypto-overview-para p {
    font-size: 6px;
  }
  .co-left-item-heading {
    font-size: 7px !important;
    line-height: 18px !important;
  }
  .co-left-item-para {
    width: 195px;
  }
  .Crypto-overview-Right img {
    width: 436px !important;
    margin-top: -120px !important;
    margin-left: -137px !important;
  }
  .main-home .acc-overview-section {
    margin-top: -80px !important;
    height: 213px !important;
  }
  .acc-overview-right img {
    margin-left: 8px !important;
    width: 90% !important;
  }
  .acc-overview-content h1 {
    line-height: 34px !important;
  }
  .procedureSection {
    margin-top: 0px !important;
    height: 129px !important;
  }
  .cr-txt span {
    color: white;
    margin-left: 11px;
    font-size: 8px;
  }
  .ps-div-2 img {
    margin-left: 33px;
  }
  .main-home .trade-overview-section {
    margin-top: 200px !important;
    height: 221px !important;
  }
  .trade-overview-right img {
    margin-left: 8px !important;
    width: 90% !important;
  }
  .trade-overview-right h1 {
    line-height: 35px !important;
  }
  .s-no td {
    font-size: 7px !important;
    padding: 2px;
  }
  .price-table {
    margin-left: -7px;
  }
  .signin-Section-bg {
    overflow-x: hidden !important;
  }
  .signIn-form {
    width: 298px !important;
  }
  .form-control {
    display: block;
    width: 72% !important;
  }
  .signin-btn {
    padding: 10px 24px !important;
  }

  .form-group1 {
    height: 502px !important;
  }
  .getStarted-Section-bg {
    overflow-x: hidden !important;
  }
  .signUp-form {
    width: 298px !important;
  }
  .signup-form-group1 h2 {
    font-size: 12px !important;
  }
  .signup-btn {
    padding: 10px 24px !important;
  }
  .signUp-form .form-group-5 {
    margin-top: 20px;
    margin-left: 64px !important;
    padding-right: 0px !important;
  }
  .create-account-text {
    font-size: 25px !important;
  }
  .send-input {
    width: 226px !important;
  }
  .send-body-1,
  .send-body-2,
  .send-body-3,
  label {
    font-size: 12px !important;
  }
  .send-body-3 select {
    width: 163px !important;
  }
  .modal-body p {
    margin-top: 17px;
    width: 198px !important;
  }
  .news-title h2 {
    font-size: 14px !important;
  }
  .news-categories span {
    font-size: 10px !important;
  }
  .news-body p {
    font-size: 10px !important;
  }
  .hp-div-2-txt {
    width: 295px !important;
  }
  .HomeDash-bg .price-table {
    margin-left: -10px !important;
  }
  .coin-icon img {
    margin-top: -11px !important;
    margin-top: 3px !important;
  }
  .coin-icon h5 {
    font-size: 7px !important;
    margin-top: 11px !important;
  }
}

@media (max-width: 353px), (max-width: 355px) {
  .yp-txt h2 {
    font-size: 30px !important;
  }
  .yp-table {
    width: 293px !important;
  }
  .total-balance-div {
    width: 103% !important;
    padding: 5px !important;
    margin-left: 24px !important;
  }
  .hp-div-2-txt h2 {
    font-size: 16px !important;
  }
  .hp-div-2-txt {
    width: 287px !important;
  }
  .hp-div-2-txt {
    width: 287px !important;
    padding: 8px !important;
    height: 38px !important;
  }
  .price-table {
    margin-left: -13px !important;
  }
  .coin-icon img {
    margin-top: 4px !important;
  }
  .coin-icon h5 {
    font-size: 7px !important;
    margin-top: 11px !important;
  }
  .buy-btn {
    width: 25px !important;
    line-height: 7px;
    height: 18px !important;
    padding: 0px 1px !important;
    font-size: 14px !important;
    font-size: 7px !important;
  }
  .assets-heading h2 {
    font-size: 30px !important;
  }
  .assets-table {
    margin-left: 15px;
  }
  .price-table {
    margin-left: 1px !important;
  }
  .signin-btn {
    padding: 10px 27px !important;
  }
  .coin-icon h5 {
    font-size: 10px !important;
    margin-top: 24px !important;
    line-height: 0px !important;
  }
  .coin-icon img {
    margin-top: 16px !important;
  }
  .coin-input {
    width: 200px !important;
    height: 40px !important;
  }
}

@media (max-width: 320px), (max-width: 330px) {
  .navbar-light .navbar-toggler {
    position: absolute !important;
    left: 230px !important;
    top: 29px !important;
    padding: 8px !important;
    height: 34px !important;
  }
  .main-nav {
    left: -78px !important;
  }
  select.themes {
    font-size: 12px !important;
    margin-left: -86px !important;
  }
  .navbar-brand-home-dash {
    margin-bottom: 10px !important;
  }
  .header-para p {
    font-size: 8px !important;
    width: 100% !important;
  }
  .form-inline input.header-search-bar {
    width: 161px !important;
    padding: 20px 27px !important;
  }
  .search-btn {
    font-size: 10px !important;
  }
  .table-container .th-name {
    font-size: 9px !important;
    padding: 10px !important;
  }
  .table-container .coin-icon img {
    margin-top: 14px !important;
  }
  .table-container .coin-icon h5 {
    font-size: 10px !important;
    margin-top: 16px !important;
  }
  .table .asset-table {
    width: 400px !important;
  }
  .coin-icon h5 {
    font-size: 7px !important;
    margin-top: 20px !important;
  }
  .spark-chart {
    width: 23px !important;
    height: 8px !important;
  }
  .red {
    font-size: 9px !important;
  }
  .coin-icon {
    padding: 9px;
  }

  .Crypto-overview-heading h1 {
    line-height: 1.3;
    font-size: 14px !important;
  }
  .Crypto-overview-para p {
    font-size: 9px !important;
    line-height: 18px !important;
  }
  .co-left-sub-items img {
    width: 50px !important;
    height: 50px !important;
  }
  .co-left-item-heading {
    font-size: 7px !important;
    line-height: 18px !important;
  }
  .co-left-item-para {
    width: 195px !important;
  }
  .Crypto-overview-Right img {
    width: 436px !important;
    margin-top: -120px !important;
    margin-left: -137px !important;
  }
  .main-home .acc-overview-section {
    margin-top: -95px !important;
    height: 170px !important;
  }
  .acc-overview-content h1 {
    line-height: 28px !important;
    font-size: 12px !important;
  }
  .acc-overview-right img {
    width: 63% !important;
    height: 117px !important;
    margin-left: 41px !important;
  }
  .cr-txt span {
    color: white !important;
    margin-left: 11px !important;
    font-size: 8px !important;
  }
  .ps-div-2 img {
    margin-left: 33px !important;
  }
  .trade-overview-content h1 {
    line-height: 28px !important;
  }
  .trade-overview-right img {
    width: 62% !important;
    margin-left: 50px !important;
  }
  .s-no td {
    font-size: 7px !important;
    padding: 2px !important;
  }
  .price-table {
    margin-left: -7px !important;
  }
  .signin-Section-bg {
    overflow-x: hidden !important;
  }
  .signIn-form {
    width: 298px !important;
  }
  .form-control {
    display: block !important;
    width: 72% !important;
  }
  .signin-btn {
    padding: 10px 24px !important;
  }
  .form-group1 {
    height: 502px !important;
  }
  .getStarted-Section-bg {
    overflow-x: hidden !important;
  }
  .signUp-form {
    width: 298px !important;
  }
  .signup-form-group1 h2 {
    font-size: 12px !important;
  }
  .signup-btn {
    padding: 14px 18px !important;
  }
  .signUp-form .form-group-5 {
    margin-top: 20px !important;
    margin-left: 64px !important;
    padding-right: 0px !important;
  }
  .create-account-text {
    font-size: 25px !important;
  }
  .send-input {
    width: 226px !important;
  }
  .send-body-1,
  .send-body-2,
  .send-body-3,
  label {
    font-size: 12px !important;
  }
  .send-body-3 select {
    width: 163px !important;
  }
  .modal-body p {
    margin-top: 17px !important;
    width: 198px !important;
  }
  .newsfeed-heading {
    margin-top: 50px !important;
    font-size: 25px !important;
  }
  .news-title h2 {
    font-size: 14px !important;
  }
  .news-categories span {
    font-size: 10px !important;
  }
  .news-body p {
    font-size: 10px !important;
  }
  .yp-table {
    width: 264px !important;
    font-size: 12px !important;
  }
  .yp-txt h2 {
    font-size: 20px !important;
  }
  .hp-div-2-txt {
    width: 255px !important;
  }
  .HomeDash-bg .home-dash-nav .nav-link {
    font-size: 14px !important;
  }
  .HomeDash-bg .price-table {
    margin-left: -18px !important;
  }
  .total-balance-div {
    width: 243px !important;
  }
  .total-balance-div h2 {
    padding: 12px !important;
  }
  .coin-input {
    width: 180px !important;
    height: 42px !important;
  }
  .user-item {
    left: -24px !important;
  }
}
@media (max-width: 286px), (max-width: 300px) {
  .asset-table.table td,
  .table th {
    border: none !important;
    line-height: 44px;
    padding: 7px !important;
    font-size: 9px !important;
  }
  .buy-btn {
    width: 27px !important;
    height: 18px !important;
    padding: 0px 2px !important;
    font-size: 14px !important;
    font-size: 9px !important;
  }
  .Crypto-overview {
    margin-top: 31px !important;
  }
  .Crypto-overview-heading h1 {
    line-height: 1.3;
    font-size: 12px !important;
  }
  .Crypto-overview-para p {
    font-size: 7px !important;
    line-height: 17px !important;
    text-align: center !important;
    width: 100% !important;
    padding: 0 25px !important;
  }
  .Crypto-overview-features {
    margin-top: 79px !important;
  }

  .co-left-sub-items img {
    width: 50px !important;
    height: 50px !important;
  }
  .co-left-heading {
    width: 88% !important;
    margin-top: 33px !important;
  }
  .co-left-item-para {
    width: 166px !important;
    padding-left: 0px !important;
  }
  .Crypto-overview-Right img {
    width: 359px !important;
    height: 536px;
    margin-top: -120px !important;
    margin-left: -112px !important;
  }
  .acc-overview-section {
    margin-top: -62px !important;
  }
  .acc-overview-content h1 {
    width: 89% !important;
    font-size: 10px;
    line-height: 36px !important;
    margin-left: 14px !important;
  }
  .acc-overview-right img {
    width: 93px !important;
    margin-left: 31px !important;
  }
  .acc-overview-section {
    height: 300px !important;
  }
  .cr-txt span {
    color: white !important;
    margin-left: 17px !important;
    font-size: 7px !important;
  }
  .trade-overview-content h1 {
    width: 86 !important;
    font-size: 9px !important;
    line-height: 36px !important;
    margin-left: 14px !important;
  }
  .trade-overview-right img {
    width: 93px !important;
    margin-left: 31px !important;
  }
  .trade-overview-section {
    height: 300px !important;
  }
  .signIn-form {
    width: 248px !important;
  }
  .form-group1 img {
    margin-top: 60px !important;
    width: 63px !important;
    height: 130px !important;
  }
  .form-control {
    display: block !important;
    width: 56% !important;
    font-size: 10px;
  }

  .form-check-label {
    margin-bottom: 0;
    font-size: 10px !important;
    width: 100px;
  }
  .signin-btn {
    margin-left: -98px !important;
  }
  .form-group1 h2 {
    font-size: 18px !important;
  }
  .signUp-form {
    width: 254px !important;
  }
  .signup-form-group1 {
    width: 99px !important;
  }
  .signUp-form.form-control {
    display: block !important;
    width: 71% !important;
    font-size: 10px;
  }
  .homeDash-navbar {
    padding-top: 119px !important;
    padding-left: 0px !important;
  }
  .yp-txt h2 {
    font-size: 25px !important;
  }
  .hp-div-1 {
    width: 98% !important;
  }
  .yp-table {
    width: 219px !important;
    font-size: 8px !important;
  }

  .total-balance-div {
    width: 178px !important;
  }
  .total-balance-div h2 {
    font-size: 9px !important;
    padding: 15px !important;
  }
  .hp-div-2-txt {
    width: 220px !important;
  }
  .hp-div-2-txt h2 {
    font-size: 18px !important;
    padding: 5px;
  }
  .coin-text {
    font-size: 22px !important;
  }
  .coin-input {
    padding-left: 16px !important;
    width: 187px !important;
    height: 43px !important;
  }
  .pie-div {
    width: 99% !important;
    height: 317px !important;
  }
  .recharts-layer {
    width: 30% !important;
  }
  .price-table {
    margin-left: -23px !important;
  }
  .asset-table.table td,
  .table th {
    border: none !important;
    line-height: 44px;
    padding: 2px !important;
    font-size: 6px !important;
  }
  .buy-btn {
    width: 27px !important;
    line-height: 3px;
    height: 18px !important;
    padding: 0px 2px !important;
    font-size: 14px !important;
    font-size: 7px !important;
  }
  .assets-heading h2 {
    font-size: 25px !important;
  }
  .send-input {
    width: 193px !important;
    height: 79px !important;
    padding-left: 33px !important;
    font-size: 15px !important;
  }
  .modal-body p {
    margin-top: 13px !important;
    width: 198px !important;
    font-size: 11px !important;
  }
  .send-body-1,
  .send-body-2,
  .send-body-3,
  label {
    font-size: 10px !important;
  }
  .send-body-3 select {
    font-size: 10px !important;
  }
  .send-body-3 select {
    width: 132px !important;
  }
  .modal-body {
    padding-bottom: 10px !important;
  }
  .recieve-body-3 select {
    font-size: 10px !important;
  }
  .user-item {
    left: -24px !important;
  }
}

@media (max-width: 282px) {
  .navbar-light .navbar-brand {
    font-size: 14px !important;
  }
  .home-nav .nav-link {
    font-size: 10px !important;
  }
  .signin-link {
    font-size: 10px !important;
  }
  .table-container .th-name {
    padding: 0 11px !important;
    font-size: 8px !important;
  }
  .table-container .coin-icon h5 {
    font-size: 6px !important;
    margin-top: 19px !important;
  }
  .table-container .coin-icon img {
    margin-top: 15px !important;
    margin-left: 14px !important;
  }
  .asset-table {
    margin-top: 60px !important;
  }
  .asset-table.table td,
  .table th {
    border: none !important;
    line-height: 44px;
    padding: 7px !important;
    font-size: 9px !important;
  }
  .buy-btn {
    width: 27px !important;
    height: 18px !important;
    padding: 0px 2px !important;
    font-size: 14px !important;
    font-size: 9px !important;
  }
  .Crypto-overview {
    margin-top: 31px !important;
  }
  .Crypto-overview-heading h1 {
    line-height: 1.3;
    font-size: 12px !important;
  }
  .Crypto-overview-para p {
    font-size: 8px !important;
    line-height: 17px !important;
    text-align: center !important;
    width: 100% !important;
    padding: 0 25px !important;
  }
  .Crypto-overview-features {
    margin-top: 79px !important;
  }

  .co-left-sub-items img {
    width: 50px !important;
    height: 50px !important;
  }
  .co-left-heading {
    width: 88% !important;
    margin-top: 33px !important;
  }
  .co-left-item-para {
    width: 133px !important;
    padding-left: 0px !important;
    font-size: 7px !important;
  }
  .Crypto-overview-Right img {
    width: 359px !important;
    height: 536px;
    margin-top: -120px !important;
    margin-left: -112px !important;
  }
  .acc-overview-section {
    margin-top: -62px !important;
  }
  .acc-overview-content h1 {
    width: 89% !important;
    font-size: 10px;
    line-height: 26px !important;
    margin-left: 14px !important;
    font-size: 9px !important;
  }
  .acc-overview-right img {
    width: 113px !important;
    margin-left: 17px !important;
    height: 93px !important;
  }
  .acc-overview-section {
    height: 300px !important;
  }
  .ps-div-1 h2 {
    font-size: 18px !important;
  }
  .ps-div-1 p {
    font-size: 9px !important;
  }
  .procedureSection {
    margin-top: 0px !important;
    height: 95px !important;
  }

  .cr-txt span {
    color: white !important;
    margin-left: 17px !important;
    font-size: 7px !important;
  }
  .trade-overview-content h1 {
    width: 86 !important;
    font-size: 9px !important;
    line-height: 28px !important;
    margin-left: 14px !important;
  }
  .trade-overview-right img {
    width: 113px !important;
    margin-left: 17px !important;
    height: 107px !important;
  }
  .trade-overview-section {
    height: 300px !important;
  }
  .signIn-form {
    width: 248px !important;
  }
  .form-group1 img {
    margin-top: 60px !important;
    width: 63px !important;
    height: 130px !important;
  }
  .form-control {
    display: block !important;
    width: 56% !important;
    font-size: 10px;
  }

  .form-check-label {
    margin-bottom: 0;
    font-size: 10px !important;
    width: 100px;
  }
  .signin-btn {
    margin-left: -98px !important;
  }
  .form-group1 h2 {
    font-size: 18px !important;
  }
  .signUp-form {
    width: 254px !important;
  }
  .signup-form-group1 {
    width: 99px !important;
  }
  .signUp-form.form-control {
    display: block !important;
    width: 71% !important;
    font-size: 10px;
  }
  .homeDash-navbar {
    padding-top: 119px !important;
    padding-left: 0px !important;
  }
  .HomeDash-bg .home-dash-nav .nav-link {
    font-size: 10px !important;
  }
  .HomeDash-bg .price-table {
    margin-left: -21px !important;
  }
  nav .user-menu {
    top: -237px !important;
    margin-left: 479px !important;
  }
  .yp-table tr td {
    font-size: 8px !important;
  }
  .yp-txt h2 {
    font-size: 25px !important;
  }
  .hp-div-1 {
    width: 98% !important;
  }
  .yp-table {
    width: 219px !important;
    font-size: 8px !important;
  }

  .total-balance-div {
    width: 178px !important;
  }
  .total-balance-div h2 {
    font-size: 9px !important;
    padding: 11px !important;
  }
  .hp-div-2-txt {
    width: 220px !important;
  }
  .hp-div-2-txt h2 {
    font-size: 14px !important;
    padding: 5px;
  }
  .hp-div-2-para p {
    font-size: 8px !important;
  }
  .transaction p {
    font-size: 8px !important;
  }
  .coin-text {
    font-size: 22px !important;
  }
  .coin-input {
    padding-left: 16px !important;
    width: 187px !important;
    height: 43px !important;
  }
  .pie-div {
    width: 99% !important;
    height: 317px !important;
  }
  .recharts-layer {
    width: 30% !important;
  }
  .price-bg .price-table {
    margin-left: -5px !important;
  }
  .table-container {
    margin-top: -184px !important;
  }
  .asset-table.table td,
  .table th {
    border: none !important;
    line-height: 44px;
    padding: 2px !important;
    font-size: 6px !important;
  }
  .s-no td {
    font-size: 7px !important;
    padding: 1px !important;
  }
  .buy-btn {
    width: 23px !important;
    line-height: 3px;
    height: 18px !important;
    padding: 0px 2px !important;
    font-size: 14px !important;
    font-size: 6px !important;
  }
  .assets-heading h2 {
    font-size: 25px !important;
  }
  .send-input {
    width: 193px !important;
    height: 79px !important;
    padding-left: 33px !important;
    font-size: 15px !important;
  }
  .modal-body p {
    margin-top: 13px !important;
    width: 198px !important;
    font-size: 11px !important;
  }
  .send-body-1,
  .send-body-2,
  .send-body-3,
  label {
    font-size: 10px !important;
  }
  .send-body-3 select {
    font-size: 10px !important;
  }
  .send-body-3 select {
    width: 132px !important;
  }
  .modal-body {
    padding-bottom: 10px !important;
  }
  .recieve-body-3 select {
    font-size: 10px !important;
  }
  .user-item {
    left: -24px !important;
  }
  .news-contents .news-title h2 {
    font-size: 12px !important;
  }
  .newsfeed-heading {
    margin-top: 44px !important;
  }
  .news-title h2 {
    font-size: 12px !important;
  }
  .news-body p {
    font-size: 7px !important;
  }
}
