*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  overflow-x:hidden;
  width: 100vw;
}
@media (max-width: 768px) {
  body{
    overflow-x:hidden !important;
    width: 100vw !important;
  }
  .home-nav {
    margin-top: 30px;
    /* align-items: center !important;
        text-align: center; */
  }
  .nav-items-2 {
    display: flex !important;
    flex-direction: column;
    margin-top: 0px !important;
    line-height: 25px;
    align-items: flex-start;
    justify-content: center;
  }
  .home-dropdown-menu {
    width: 176px !important;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 44px !important;
    border-color: rgba(0, 0, 0, 0.1);
    top: 29px;
    box-shadow: 1px 8px 7px 1px #1b171a8f;
  }
  .main-nav {
    position: relative;
    top: 62px;
    left: -45px;
  }
  .header-txt-1 h1 {
    font-size: 76px !important;
  }
  .header-txt-2 h1 {
    line-height: 1.3;
    color: rgb(255, 255, 255);
    font-size: 36px !important;
  }
  .header-para p {
    font-size: 14px !important;
    font-weight: bold;
  }
  .coin-icon h5 {
    color: white;
    font-size: 14px !important;
  }

  .td-white {
    color: white;
    font-size: 14px;
    line-height: 35px;
  }
  .Crypto-overview-heading h1 {
    font-size: 36px;
  }
  .Crypto-overview-para p {
    font-size: 14px;
  }

  .co-left-item-heading {
    font-size: 14px !important;
    line-height: 23px;
    margin-top: 13px;
    padding-left: 12px;
  }
  .co-left-item-para {
    line-height: 1.6;
    font-size: 14px;
    color: rgb(255 255 255);
    padding-left: 10px;
    width: 90%;
  }
  .co-left-sub-items img {
    width: 60px !important;
    height: 60px;
  }
  .Crypto-overview-features {
    flex-wrap: wrap;
    justify-content: center;
  }
  .acc-overview-content h1 {
    color: white;
    line-height: 46px !important;
    font-size: 26px;
  }

.acc-overview-right img {
  width: 62% !important;
  margin-left: 115px !important;
}
.prt-overview-content h1 {
  line-height: 46px;
  font-size: 26px;
}

.trade-overview-content h1 {
  line-height: 46px !important;
  font-size: 26px;
}
.trade-overview-right img {
  width: 62%;
  margin-left: 115px !important;
}
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

