body {
  width: 100% !important;
}
.light-mode {
  background-color: red !important;
}

.navbar-brand {
  color: rgb(255, 255, 255) !important;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.navbar {
  padding: 20px 104px;
}
.navbar-brand:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.home-dropdown-menu.dropdown-menu {
  flex-direction: column !important;
  width: 164px! important;
}
.dropdown-item {
  display: block;
  width: 25% !important;}

.btn-getstarted {
  background-color: #05b169 !important;
  color: white !important;
}
.btn-getstarted a {
  color: white !important;
}

.main-nav {
  /* display: flex !important;
    justify-content: space-between !important; */
}

.btn-get {
  border-radius: 3px;
  background: rgb(5, 177, 105);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 3px 10px;
  margin-left: 6px;
  margin-top: 7px;
}

.btn-get:hover {
  color: white;
}

.nav-items-2 {
  display: flex !important;
  align-items: center;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px !important;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.signin-link {
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px !important;
}
a {
  color: black !important;
}
a:hover {
  text-decoration: none;
}
.themes{
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
.themes option{
  background-color: #4C2A7D;
}
.themes:focus{
  outline: none;
}